<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %>

<section>
  <h1>Profile</h1>
  <% if (user) { %> 
  <h2> All Profiles</h2>
  <form action="/profiles" method="POST">
    <label>
      Name:
      <input type="text" name="name" autocomplete="off">
    </label>
    <label>
      Console or PC?
      <input type="text"
    </label>
  </form>
  <ul>
    <% profiles.forEach(profile => {
      <li> <%= profile.name %></li>
    }) %> 
  </ul>
</section>


<%- include('../partials/footer') %> 