html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-image: url(https://i.imgur.com/nuocoVf.jpg);
  background: cover;
  background-color: #ffffff;
  color: #000207;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-image: url(https://i.imgur.com/2BIDlC4.jpg);
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  justify-content: space-between;
}

.nav-link{
  border-color: #f8f2f2;
  font-weight: bolder;
  

}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

button{
  margin-top: 10px;
  border-radius: 10px;
  background: linear-gradient(45deg,blue,green);
  color: aliceblue;
  padding: 8px;
  font-family: fantasy;
  font-size: 24px;
}

label{
  color: rgb(240, 234, 241);
  font-weight: bolder;
}

ul{
  color: rgba(252, 253, 253, 0.986);
  font-weight: bold;
}

a{
  color: #fdfeff;
  font-weight: bold;
}

h1{
  color: #f8f2f2;
}

h2{
  color: #f8f2f2;
}
